name: 'Build & Test'
description: 'CI for Perl tests on Linux'

on:
  workflow_call:
    inputs:
      since-perl:
        description: 'Test with all perls since given version'
        type: string
        required: true

        # Require no newer version of perl than one released in the last ten years,
        # following the agreement of the Perl Toolchain Gang.
        # See:
        #   https://github.com/Perl-Toolchain-Gang/toolchain-site
        #   https://en.wikipedia.org/wiki/Perl_5_version_history
        default: 'v5.24.0'

      to-perl:
        description: 'Test with all perls up to given version'
        type: string

      with-devel:
        description: "Whether to test also with 'devel' perl"
        type: boolean
        default: false

      unstable:
        description: 'Which perl versions are considered unstable. Value is JSON array.'
        type: string
        default: "[ 'devel' ]"

      coverage:
        description: 'Report test coverage to Coveralls.io'
        type: boolean
        default: false

      critic:
        description: 'Run perlcritic against distribution files'
        type: boolean
        default: false

jobs:
  # Test system perl on Linux

  ubuntu-latest:
    name: 'perl system'
    runs-on: ubuntu-latest

    # Prevent the entire test of failing if minimum perl version from distribution
    # is newer than Ubuntu's system perl version.
    continue-on-error: true

    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1
      PERL_CARTON_PATH: $GITHUB_WORKSPACE/local

    steps:
      - uses: actions/checkout@v6
      - run: perl -V
      - name: 'Install dependencies with cpanm'
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: --sudo --installdeps --with-recommends .

      - name: 'Show cpanm errors on failure'
        if:  ${{ failure() }}
        run: cat /home/runner/.cpanm/work/*/build.log

      # Module::Build
      - name: 'Configure with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: perl Build.PL
      - name: 'Build with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: ./Build
      - name: 'Test with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: ./Build test verbose=1

      # ExtUtils::MakeMaker
      - name: 'Configure with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: perl Makefile.PL
      - name: 'Build with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: make
      - name: 'Test with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: make test TEST_VERBOSE=1

  # Test multiple perl versions on Linux

  perl-versions:
    name: 'List perl versions'
    runs-on: ubuntu-latest

    outputs:
      perl-versions: ${{ steps.massage.outputs.perl-versions }}

    steps:
      - id: action
        uses: perl-actions/perl-versions@v1
        with:
          since-perl: ${{ inputs.since-perl }}
          to-perl: ${{ inputs.to-perl }}
          with-devel: ${{ inputs.with-devel }}

      - id: massage
        name: 'Add perl latest if coverage is wanted'
        shell: bash
        run: |
          printf '%s\n' '${{ steps.action.outputs.perl-versions }}' > perl.versions

          if [[ ${{ inputs.coverage }} = 'true' ]]; then
              perl -MJSON::PP -i -nE '
                  my $j = decode_json($_);
                  push $j->@*, "latest" unless grep { $_ eq "latest" } $j->@*;
                  print encode_json($j);
              ' perl.versions
          fi

          cat perl.versions
          printf 'perl-versions=%s' "$(< perl.versions)" >> $GITHUB_OUTPUT

  linux:
    name: "perl ${{ matrix.perl-version }}"
    runs-on: ubuntu-latest

    permissions:
      contents: read

    continue-on-error: ${{ contains (fromJson (inputs.unstable), matrix.perl-version) }}

    needs:
      - ubuntu-latest
      - perl-versions

    strategy:
      fail-fast: false
      matrix:
        perl-version: ${{ fromJson (needs.perl-versions.outputs.perl-versions) }}

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v6
      - run: perl -V
      - name: 'Install dependencies with cpanm'
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: -v --installdeps --with-recommends .

      - name: 'Show cpanm errors on failure'
        if:  ${{ failure() }}
        run: cat /home/runner/.cpanm/work/*/build.log

      # Module::Build
      - name: 'Configure with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: perl Build.PL
      - name: 'Build with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: ./Build
      - name: 'Test with Build.PL'
        if: ${{ hashFiles('/Build.PL') != '' }}
        run: ./Build test verbose=1
        env:
          AUTHOR_TESTING: 1
          AUTOMATED_TESTING: 1
          RELEASE_TESTING: 1

      # ExtUtils::MakeMaker
      - name: 'Configure with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: perl Makefile.PL
      - name: 'Build with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: make
      - name: 'Test with Makefile.PL'
        if: ${{ hashFiles('/Build.PL') == '' }}
        run: make test TEST_VERBOSE=1
        env:
          AUTHOR_TESTING: 1
          AUTOMATED_TESTING: 1
          RELEASE_TESTING: 1

      - name: 'Report test coverage'
        if: ${{ inputs.coverage == true && matrix.perl-version == 'latest' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -test -report Coveralls

      - name: 'Run perlcritic'
        if: ${{ inputs.critic == true && matrix.perl-version == 'latest' }}
        shell: bash
        run: |
          if [[ -f 'xt/critic.t' ]]; then
              prove --verbose xt/critic.t
          else
              printf '%s\n' 'xt/critic.t does not exist'
              exit 1
          fi
